.nuevo_producto__placeholder{
    position: absolute;
    top:1.6rem;
    left: 0.7rem;
    color: rgba(162, 162, 162, 1);
    font-weight: 400;
    font-size: 1rem;
    
}

.nuevo_producto .input:focus~.nuevo_producto__placeholder{
    color: rgba(162, 162, 162, 1);
    font-size: 12px;
    top: 0.5rem;
    transition: 0.4s ease-in;
}

.nuevo_producto__input__texto:focus~.nuevo_producto__placeholder{
    color: rgba(162, 162, 162, 1);
    font-size: 12px;
    top: 0.5rem;
    transition: 0.4s ease-in;
}